body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(32, 34, 32);
    width: 99,5%;
}

header{
    background-color: rgb(32, 34, 32);
    display: flex;
    position:fixed;
    justify-content: flex-end;
    margin-top: 0px;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px rgb(65, 240, 65);
    justify-content: center;
    align-items: center;
   
    
}

.container{
    position: fixed;
    left: 20px;
    width: 3%;
    
}

.ri-menu-line{
    color: white;
    font-size: 1.8em;
}
.hidden{
    display: none;
}
#a_sobre{
    position: relative;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    color: white;
    font-weight: bold;
    
}
.toggle{
    display: inline-block;
    align-items: center;
    justify-content: flex-end;
    width: 5%;
    padding-right: 0px;
    margin: 0px;
    margin-right: 25px;
    position: absolute;
    right: 0;
    
}

input[type="checkbox"]{
    display: none;
}

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.label .box {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: rgb(142, 231, 182);
    border-radius: 50%;
    transition: transform 0.3s;
    justify-content: center;
}

input[type="checkbox"]:checked + .label .box {
    transform: translateX(25px);
}

input[type="checkbox"]:checked + .label {
    background-color: #4caf50;
}
.clean-mode {
    background-color: rgb(5, 53, 17);
    color: white;
}

#sobre_mim{
    display: flex;
    width: 99,5%;
    margin-top: 100px;
    height: 530px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    
    
}

hr{
    width: 90%;
    color: green;

}

.lados{
    width: 50%;
    height: 430px;
    margin: 20px;
    margin-top: 80px;
    

}

#foto{
    background-image: url(../assets/imagens/Fotos\ tratadas/perfil2.png); 
    height: 90%;
    width: 80%;
    padding: 2px;
    margin: 0px; 
    margin-left: 50px;
    border: solid 3px white;
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center;
    border-radius: 50%;
}



h1{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    text-align: center;
    text-decoration: underline;
}

#direito p{
    color: rgb(165, 165, 155);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
}

#curriculo{
    font-size: 1em;
   
}
#email{
    font-size: 1em;
    
}

#tecnologias{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tec{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#tecnolog{
    margin: 25px;
    margin-left: 160px;
    width: 80%;
    
}



#tecnolog img:hover{
    background-color: #033605;
}

h2{
    color: rgb(207, 207, 198);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
}

.textos{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#text{
    margin-left: 180px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    text-indent: 10px;
}

#proj{
    display: flex;
    width: 85%;
    margin: auto;
}
.trabalhos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: wheat;
}
#urna{
    margin-left: 10px;
}
#urna:hover{
   background-color: rgb(75, 75, 197);
   padding: 10px;
}

footer{
    background-color: #4caf50;
    height: 50px;

}

#pe{
    text-align: center;
    padding-top: 20px;
}